.git
.gitignore
.dockerignore
Dockerfile
README.md
venv
env
ci-cd-env
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
pytest-cache-files-*
htmlcov
coverage.xml
report.html
.coverage
.vscode
*.md
notebooks
Docs
infra
sonar-project.properties
pytest.ini
.flake8
proyecto-ejemplo-ci-cd
tests
